
.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
   }

.justify-content-end {
    justify-content: flex-end;
   }

.align-item {

    align-items: center;
}


.form-style {
   font-weight: bold;
   color: rgb(77, 76, 76);
}

.sectionsize {

    font-size: 0.9rem;
    color: rgb(77, 76, 76);
    font-weight: bold;
}

#position-section {
    position: relative; top: 0.4rem;
    margin-bottom: 1.1rem;
}

input:hover::placeholder {

    color: red;
}

.margin-input {
    margin-left: 1em;
}

.hr1 {
    position: relative; bottom:0.4em;
    border-color: rgb(245, 245, 245);

   }

   .hr3 {
    width: 1470px;
    position: relative; left: 13.5rem;
    border-color: rgb(245, 245, 245);

   }

   #justify-img-center {
    display: flex;
    justify-content: center;
    position: relative; top: 2.8rem;
   }

.h1 {
   padding: 5rem;
   margin-left: 8.8rem;
   margin-top: 1rem;
   color: rgb(77, 76, 76);

}

.p1 {
    padding: 5rem;
    margin-left: 8.8rem;
    margin-top: 1rem;
    color: rgb(77, 76, 76);
    font-size: 2rem;
    font-weight: bold;

}

.bg-color {
    background: linear-gradient(rgba(76,28,36,1) 0%, rgb(255, 255, 255) 40%, rgb(255, 255, 255) 100%);
 }

.available-now {
    font-weight: bold;
    text-decoration: none;
    margin-left: 2rem;
    border: 0.5rem solid; color: rgb(199, 12, 13);
    background-color: rgb(199, 12, 13);
    border-radius: 0.8rem;
    color: white;
    padding: 1rem;
    font-size: 1.1rem;
    width: 10vw;
    text-align: center;

}

.box-model {

    border: 0.065rem solid;
    color: rgb(223, 219, 219);
    border-radius: 0.3rem;
}

.figcaption {                                   /*--> Space figcaption*/
    font-weight: normal;
    font-size: 1rem;
    margin-top: 0.2rem;
    position: relative; right: 2.8rem;
    margin-top: 2.7rem;
   }


   #red-bar{
    color: rgb(199, 12, 13);                 /*--> Space figcaption*/
    position: relative; right: 2rem;
    margin-top: 2.5rem;
   }


