.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.jce {
    justify-content: flex-end;
}

.align-item {
    align-items: center;
}

.nav a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(77, 76, 76);
    font-size: 0.88rem;

}

.form-style {
    font-weight: bold;
    color: rgb(77, 76, 76);
}


.section-size {
    font-size: 0.9rem;
    color: rgb(77, 76, 76);
    font-weight: bold;
}

.margin-input {
    margin-left: 1em;
}

.hr1,
.hr2,
.hr3 {
    border-color: rgb(250, 249, 249, 0.2);
}

.hr1 {
    position: relative;
    bottom: 0.3em;
    /*Orizzontal Lines*/

}

.hr2 {
    width: 1470px;

}


.justify-img-center {
    display: flex;
    justify-content: center;


}

.h1 {

    color: rgb(77, 76, 76);

}

.h2 {

    font-size: 30px;
    font-weight: bold;
    color: rgb(77, 76, 76);
    margin-top: 1rem;
}

.bg-color {
    background: linear-gradient(rgba(76, 28, 36, 1) 0%, rgb(255, 255, 255) 16%, rgb(255, 255, 255) 100%);
}


.available-now {

    background-color: rgb(233, 13, 13);
    border: none;
    border-radius: 0.3rem;
    font-size: 1rem;
    height: 2.5em;
    width: 8rem;

}

.available-now:hover {
    transition: all 300ms ease-out;
    background-color: #a01a1a;
    width: 9.2rem;
    height: 3.3rem;
}

.available-now-href {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.box-model {
    border: 0.065rem solid;
    color: rgb(223, 219, 219);
    border-radius: 0.3rem;
    height: 18em;

}

.figcaption {
    /*Space figcaption*/
    font-weight: normal;
    font-size: 1rem;
    margin-top: 0.2rem;
    position: relative;
    right: 2.8rem;
    margin-top: 2.7rem;
}

.box-model {
    border: 0.065rem solid;
    color: rgb(223, 219, 219);
    border-radius: 0.3rem;
    height: 17.5rem;

}

.box-model:hover {

    transition: 450ms ease-in-out;
    position: relative; bottom: 30px;
}

.nav-margin-bottom {
    margin-bottom: 6rem;
}

nav > a:hover {
    color: red;
}

.margin-bottom {
    margin-bottom: 70px;
}


div a>span {
    color: white;
}

.teen-img-tex {
    color: black;
    font-size: small;

}


.d-grid {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 1.5rem;
    width: 2rem;
    align-items: center;
    justify-content: start;

}


@media (min-width: 1920px) {
    .img-position {

        width: 96%;
        margin-left: auto;
        margin-right: auto;
    }

}

@media (min-width: 1920px) {
    .img-position {

        width: 96%;
        margin-left: auto;
        margin-right: auto;
    }

}

@media screen and (min-width: 605px) {
    .img-position {

        width: 95.5%;
        margin-left: auto;
        margin-right: auto;
    }

}


@media screen and (min-width: 850px) {
    .img-position {

        width: 94%;
        margin-left: auto;
        margin-right: auto;
    }

}

@media screen and (max-width: 1525px) {
    .img-position {

        width: 94%;
        margin-left: auto;
        margin-right: auto;
    }

}


@media screen and (min-width: 300px) and (max-width: 800px) {
    .nav-bar {

        gap: 0rem;

    }


    }

.img-position {
    /*ALIGNMENT ITEMS TO MAIN IMG*/

    max-width: 91rem;

}

.p-no-dec {
    text-decoration: none;
}

.nav-bar {
    display: flex;
    justify-content: flex-end;
    gap: 1.9rem;
    margin-right: 15px;
}

.space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 30px;
}

.hyper-align {
    display: flex;
    align-items: center;
    gap: 5px;
    }


.form-style {
    font-weight: bold;
    color: rgb(72, 72, 72);
}

/* Characters Class*/
.characters-container {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.characters-container h3 {
    color: #484848;
    font-size: 21px;
    font-weight: 700;
    margin: 20px 0 60px 0;
}

.characters-img {
    width: 274px;
    height: 274px;
    cursor: pointer;
}

.characters-img:hover {
    transform: scale(1.15);
    transition: transform 200ms ease-in-out;
}

main, header {
    overflow: hidden;
}

/* Online Store */
.online-store {
    width: 96%;
    margin-inline: auto;
    margin-block: 3rem;
}

.online-store h1 {
    color: rgb(72, 72, 72);
    margin-bottom: 2rem;
    font-size: 1.75rem;
}

.online-store .store-img {
    display: block;
    width: 100%;
    margin-inline: auto;
    margin-bottom: 2rem;
}

.online-store p {
    margin: 1.3125rem 0 calc(1.3125rem + 1rem);
    font-size: 1rem;
    line-height: 1.4;
    font-weight: 700;
    color: rgb(72, 72, 72);
}

.online-store button {
    display: block;
    margin-inline: auto;
    width: 100%;
    background-color: rgb(230, 0, 18);
    color: #ffffff;
    border: none;
    font-size: 1.125rem;
    font-weight: 700;
    padding: 1rem 1.5rem;
    border-radius: 0.25rem;
}

@media (min-width: 1025px) {
    .online-store {
        max-width: 71.5rem;
    }

    .online-store img {
        margin-inline: auto;
        width: 100%;
    }

    .online-store .cta {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
    }

    .online-store .cta form {
        flex-shrink: 0;
    }
}

@media (min-width: 768px)  {
    .online-store p {
        font-size: 1.3125rem;
    }
}

.online-store + hr {
    border-color: rgb(250, 249, 249, 0.2);
}

/* Gaming Systems */
.gaming-systems {
    width: 96%;
    margin-inline: auto;
    margin-block: 3rem;
}

.gaming-systems h1 {
    color: rgb(72, 72, 72);
    margin-bottom: 2rem;
    font-size: 1.75rem;
}

.gaming-systems .nintendo-switch-family-img {
    display: block;
    width: 100%;
    margin-inline: auto;
    margin-bottom: 2rem;
}

.gaming-systems p {
    margin: 1.3125rem 0 calc(1.3125rem + 1rem);
    font-size: 1rem;
    line-height: 1.4;
    font-weight: 700;
    color: rgb(72, 72, 72);
}

.gaming-systems button {
    display: block;
    margin-inline: auto;
    width: 100%;
    background-color: rgb(230, 0, 18);
    color: #ffffff;
    border: none;
    font-size: 1.125rem;
    font-weight: 700;
    padding: 1rem 1.5rem;
    border-radius: 0.25rem;
}

@media (min-width: 1025px) {
    .gaming-systems {
        max-width: 71.5rem;
    }

    .gaming-systems img {
        margin-inline: auto;
        width: 100%;
    }

    .gaming-systems .cta {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 2rem;
    }

    .gaming-systems .cta form {
        flex-shrink: 0;
    }
}

@media (min-width: 768px)  {
    .gaming-systems p {
        font-size: 1.3125rem;
    }
}

.gaming-systems + hr {
    border-color: rgb(250, 249, 249, 0.2);
}


svg {
    width: 18px;
    height: 18px;
    color: currentColor;
   /* display: inline-block; */


}

div.d-inline:hover, .form-style:hover {
    color: red;
}


.d-inline {
    display: inline;
}

.select-hover:hover {
    color: red;
}

/* Footer*/
.social-icons{
   width: 30px;
    cursor: pointer;
}

.border-left-section{
    border-left: 1px solid lightgray;
}


.flexbox2{
    display: flex;
    flex-direction: row;
}

.titlebox{
    display: flex;
    align-items: center;
    padding: 20px;

}
.titlebox>p{
    border-left: 0.5px #484848 solid;
    padding-top: 10px;
    height: 50px;
    margin-left: 20px;
}

.cardbox{
    margin: 40px;
    border-radius: 5px;
    margin-bottom: 70px;
    border: solid gainsboro 0.5px;
    height: 350px;



    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

.navcard{
    display: flex;
    flex-direction: row;
    margin: 30px;
    margin-left: 20px;
}




.footercard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.footercard>p{
    border-left: 0.15rem solid red;
    font-weight: initial;
    font-size: 15px;



    color: rgb(98, 96, 96);
    font-size: medium;
}
.footercard>a>img:hover{

    transform: scale(1.35);
    transition: transform 200ms ease-in-out;
}

p>a{
    margin-left: 10px;
    align-items: center;
    font-size: medium;
    font-weight: bold;
    color: #ff1d1d;

}

figcaption>img:hover{
    opacity: 20%;
}


.cardbox2{
    margin: 40px;
    border-radius: 5px;
    margin-bottom: 70px;
    border: solid gainsboro 0.5px;
    height: 350px;



    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.cardbox2>header{
    background-color: red;


    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    height: 100px;
}

.colorbanner{

    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 2px;
    margin-top: 2px;
}
.cardheader2{
    background-color: blue;
    margin: 40px;

    border: blue 5px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    height: 100px;


}