@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

* {                                                                       /*Initial format*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open+Sans:wght@300", sans-serif;
   }

    input:hover::placeholder {
    color: red;
   }

    input {
    border: 0rem;
    width: 20em;
    }

    form {
    margin-left: 0.1rem;
    }

    select {
    border: none;
    }

   div > img {
    border-radius: 0.3rem;
    }


   figure a {
    text-decoration: none;
    color: rgb(77, 76, 76);
    font-weight: bold;
    font-size: 1rem;

   }

   figure {
    position: relative; bottom: 5rem;

  }


   figure div {
    margin-left: 1rem;

   }

   figcaption {
   margin-left: 1em;
   line-height: 1.6rem;

   }

  figure p {
    border-left: 0.15rem solid red;
    font-weight: initial;
    font-size: 15px;
    position: relative; left: 1.2rem; top: 2.5rem;

  }

  span {
    margin-left: 0.3rem;
  }

  div a > span {
   margin-right: 0.5rem;               /*Red Available-Now margin-right*/

  }

  /* img navbar resizing
  img[src$="png"] {
     width: 16rem;
     height: 9rem;
  }     */
